.columnForm {
  text-align: center;
  padding: 10px;

  input {
    margin: 0 10px 0 5px;
  }
}

@media (max-width: 767px) {
  .columnForm {
    text-align: left;
    input {
      display: block;
      margin: 10px;
    }
  }
}
